.main {
  flex-basis: calc(((100% - 44px) / 2) - 2.5%);
}

.expenseLog {
  font-size: 14px;
  color: var(--WHITE-A4);
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.manageFinance {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 20px;
}

.manageFinance span {
  color: var(--MINT-GREEN);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.description {
  font-size: 14px;
  color: var(--WHITE-A4);
  letter-spacing: 1.1px;
  line-height: 18.53px;
  margin-bottom: 40px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 568px;
}
